.body-header{
    background-color: black;
    width: 100%;
    height: 15%;
}

#logo img {
    width: 50%;
    border-radius: 50%;
    margin: 12px;
}

#logo-image {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 12px;
}

#logo {
    display: flex;
}

#main-div {
    background: linear-gradient(rgb(224, 84, 84), black), url(./images/music_bg3.jpg);
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: cover;
    background-position: center;
}

.section-heading {
    padding-left: 25%;
    margin: 12px;
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.section-content {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    flex-wrap: wrap;
    width: 85%;
}

.cover-image {
    margin: 10px;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.cover-image img {
    width: 100%;
    height: 100%;
}

.hover-effect div:hover {
    opacity: 1;
    transform: scale(1.1);
}

.hover-effect:hover div {
    opacity: 1;
    transform: scale(0.8);
}

.play-song h3, h4 {
    text-align: left;
    color: white;
    margin-left: 96px;
    font-family: monospace;
}

.play-button {
    display: none;
    position: absolute;
    left: 0;
    top: 21px;
    text-align: left;
    padding-top: 33px;
    color: white;
    font-size: x-large;
    padding-left: 37px;
}

.play-song:hover {
    box-shadow: 0 0 20px 2px #74adc8;
    background-color: black;
}

.play-song:hover .play-button {
    display: block;
}

.play-song {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 250px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    padding-left: 34px;
}

.song-image img {
    width: 78%;
}

.song-image {
    width: 120px;
    position: absolute;
    left: 14px;
    top: 23px;
    overflow: hidden;
}

.artist-image {
    margin: 10px;
    border-radius: 50%;
    border: 3px solid white;
    height: 165px;
    width: 160px;
    overflow: hidden;
}

.artist-image img {
    width: 100%;
    height: 100%;
}

.artist-image:hover img {
    filter: blur(4px);
}

.artist-image:hover p {
    color: white;
    padding-left: 12px;
    font-size: 20px;
    transform: translateY(-120px);
    transition: 0.5s ease-in-out;
}

.artist-image a {
    text-decoration: none;
}

.station {
    cursor: pointer;
}

.mood {
    cursor: pointer;
}

.latest_english {
    cursor: pointer;
}

.latest_hindi {
    cursor: pointer;
}